.container {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 40px;
}

.card {
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
    width: 140px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}