body {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.btn1 {
    margin-top: 10px;
}
.fm{
    background: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

#output{
    justify-content: center;
    align-items: center;
}